# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.spec
*.exe

# Log and settings
*.txt
config.json

# copied files folder
copied_files/

# PyBuilder
.pybuilder/
target/

# VS Code
.vscode/
